* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    overflow: hidden;
}

body {
    background: linear-gradient(to right, rgb(211, 23, 180), #03aef154); 
}

.calculator-grid {
    margin-top: 5px;
    width: 100%;
    height: 600px;
    display: grid; 
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,100px); 
    grid-template-rows: minmax(70px,auto)repeat(5,100px);
    
   
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
 

}
.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
   grid-column: span 2; 
   
}

.output {
    grid-column: 1/ -1;
    background: linear-gradient(to right, rgb(211, 23, 180), #03aef154);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word; /*long numbers skips to the beginning of the next line*/
    word-break: break-all; /* divides long numbers into lines without overflowing */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px ;

   
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1rem;

}
.output .current-operand {
    color: white;
    font-size: 1.5rem;

}



.border-radius {
    border-bottom-left-radius: 10px;
}
#border-radius {
    border-bottom-right-radius: 10px;
}